@import 'bootstrap';
@import 'toastr';
@import 'navigation';
@import 'listpage';
@import 'forms';
@import 'login';
@import 'users';
@import 'projects';
@import 'chat';
@import 'table';
@import 'vars';

body {
    background-color: $background--light;
}

a i.fa {
    margin-right: 10px;
}

section + section {
    margin-bottom: 50px;
}
