<nav ng-include="'navigation.html'" class="nav__top"></nav>
<div class="container view__chat">
    <h2 class="col-md-12">Czat</h2>

    <div class="row">
        <nav class="col-md-3 view__chat-groups">
            <ul>
                <!-- <li class="active"><a href="#">Konwersacja 1</a></li>
                <li><a href="#">Konwersacja 2</a></li>
                <li><a href="#">Konwersacja 3</a></li> -->

                <li ng-repeat="conversation in chat.groups" ui-sref-active="active" ng-class="{ 'unread': conversation.unread }">
                    <a ui-sref="Chat.Message({ gid: conversation.groupid })">{{ conversation.members }}</a>
                </li>
            </ul>
        </nav>
        <section class="col-md-9 view__chat-window" ui-view>

        </section>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <select name="" class="form-control" id="newConversationSelect">
                <option><em>Nowa konwersacja...</em></option>
                <optgroup label="Użytkownicy">
                    <option value="{{ user.id }}" ng-repeat="user in chat.users()">{{ user.displayname }}</option>
                </optgroup>
            </select>

        </div>
        <div class="form-group col-md-9">
            <textarea name="" id="" ng-model="chat.newMessage.text" class="form-control"
                placeholder="Wpisz wiadomość..." chat-textbox="chat.actions.postMessage()"></textarea>
        </div>
    </div>
</div>
