<section class="main__login">

    <form ng-submit="login.signIn()" class="form-horizontal text-center">
        <h2>Logowanie</h2>
        <div class="row">
            <input type="text" ng-model="login.data.userName" id="loginUserName"
            placeholder="Login">
        </div>
        <div class="row">
            <input type="password" ng-model="login.data.userPass" id="loginUserPassword"
            placeholder="Hasło">
        </div>
        <div class="row">
            <button type="submit" class="btn-default">Zaloguj się!</button>
        </div>
        <div class="row login-error" ng-if="login.error">
            <p ng-if="login.error.status === 403"><i class="fa fa-times"></i> Nieprawidłowa nazwa użytkownika i/lub hasło!</p>
            <p ng-if="login.error.status === 404"><i class="fa fa-times"></i> Brak połączenia z serwerem!</p>
        </div>
    </form>
</section>
